:root{
    --background-cards:#ffffff;
    --cor-da-fonte-cards:#000000;

    
    --cor-da-fonte-div-cards:#000000;

    --background-denuncias:#ECECEC;
    --background-menu-lateral:linear-gradient(#00b4d8 70%,transparent 95%);
    --cor-navbar-denuncias:#00a5cf;
    --background-pesquisar-denuncia:#ffffff;
}
.navbar-denuncias{background-color:var(--cor-navbar-denuncias)}
body{
    padding-top:90px;
}
.body{
    width:100vw;
    min-height:100vh;
    display: flex;
    flex-direction: row;
    
    background:var(--background-denuncias);

}
.menu-lateral{
    position:relative;
    left:0;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background:var(--background-menu-lateral);
    border-right:#ffffff 3px solid;
    padding-top:90px;
    width:250px;
    height:90vh;
    gap:10px;
    text-align:center;
}
.links{
    display:flex;
    flex-direction: column;
    gap:5px;
}
 h2{
    color:#7CDB3B;
    font-weight:700;
    font-size:1.4vw;
}
.links > a{
    padding:5px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:1.2vw;
    color:white;
    text-decoration: none;
    width:100%;
}
.links > a:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.pesquisar-denuncia{
    position:relative;
    top:-150px;
    left: 35px;
    
    display: flex;
    justify-content: center;
   
}
.pesquisar-denuncia > input[type="text"]{
    border:none;
    outline:none;
    font-size:1vw;
    padding:5px 30px;
    background-color: var(--background-pesquisar-denuncia);
    color:black;
    border-radius:25px;
    box-shadow:2px 2px 4px 2px rgba(0, 0, 0, 0.3);
}
.pesquisar-denuncia > input[type="text"]::placeholder{
    color:#00000069;
}
.style-da-lupa{
    border:none;
    outline:none;
    background:transparent;
    font-size:0.8vw;
    position:relative;
    right:55px;
}

.card{
    display:flex;
    justify-content:center;
    align-items: center;
   
    width:250px;
    height:calc(100% + 50px);
    flex-direction: column;
    color:var(--cor-da-fonte-cards);
    font-size:1vw;
    background:var(--background-cards);
    border-radius:15px;
    position:relative;
}
.user-e-nome{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.nome{
    font-size:1.3vw;
}
.info-section{
    width:100%;
    display:flex;
    align-items:center;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom:15px;
    color:var(--cor-da-fonte-div-cards);
    font-size:1.1vw;

}
.user{
    border-radius:50%;
    width: 65px;

}
.ajuste-div-principal{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top:250px;
    width:100%;
}
.div-principal{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:50px;
    margin-bottom:100px;
}
.-div-{
    background-color:white!important;
}
/*.body-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:100%;
    background-color: var(--background-final-card);
}*/
.divisao-card{
    width:80%;
    height:3px;
    border-radius:15px;
    background-color: white;
    margin:25px 0px;
}
.div-cep{
    width:100%;
}
.div-cep > h5{
    text-align: center;
}
.desc-e-img{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:15px;
}
.desc-e-img > h5{
    width:80%;
    margin-bottom:15px;
}
.desc-e-img > img{
    width: 200px;
    height:200px;

}
.icone{
    width:100px;
}