:root{
    --background-denuncias:linear-gradient(#488FB1,#533E85);
    --background-cards:linear-gradient(#187498,#00FFAB);
    --background-menu-lateral:linear-gradient(#433070 70%,transparent 95%);
}
body{
    padding-top:90px;
}
.body{
    width:100vw;
    min-height:100vh;
    display: flex;
    flex-direction: row;
    
    background:var(--background-denuncias);
}
.menu-lateral{
    position:relative;
    left:0;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background:var(--background-menu-lateral);
    border-right:#ffffff 3px solid;
    padding-top:90px;
    width:250px;
    height:90vh;
    gap:10px;
    text-align:center;
}
.links{
    display:flex;
    flex-direction: column;
    gap:5px;
}
 h2{
    color:#7CDB3B;
    font-weight:700;
    font-size:1.4vw;
}
.links > a{
    padding:5px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:1.2vw;
    color:white;
    text-decoration: none;
    width:100%;
}
.links > a:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.pesquisar-denuncia{
    position:relative;
    top:-150px;
    left: 35px;
    
    display: flex;
    justify-content: center;
   
}
.pesquisar-denuncia > input{
    border:none;
    outline:none;
    font-size:2vw;
    padding:15px;
    background-color: #7CDB3B;
    color:white;
    border-radius:15px;
    box-shadow:2px 2px 6px 3px rgba(0, 0, 0, 0.5);
}
.pesquisar-denuncia > input::placeholder{
    color:white;
}
.pesquisar-denuncia > button{
    border:none;
    outline:none;
    background:transparent;
    font-size:2vw;
    position:relative;
    right:75px;
}

.card{
    display:flex;
    justify-content:center;
    align-items: center;
   
    width:450px;
    height:calc(100% + 50px);
    flex-direction: column;
    color:white;
    font-size:1.5vw;
    background:var(--background-cards);
    outline:thick solid white;
    
}
.card-section{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding:20px;
    
}
.info-section{
    width:100%;
    display:flex;
    align-items:center;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom:15px;

}
.user{
    border-radius:50%;
    width: 100px;

}
.ajuste-div-principal{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top:250px;
    width:100%;
}
.div-principal{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:100px;
    margin-bottom:100px;
}
.-div-{
    background-color:white!important;
}
.body-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.divisao-card{
    width:80%;
    height:3px;
    border-radius:15px;
    background-color: white;
    margin:25px 0px;
}
.div-cep{
    width:80%;
}
.desc-e-img{
    margin-top:15px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.desc-e-img > h5{
    width:80%;
    margin-bottom:15px;
}
.desc-e-img > img{
    width: 350px;
    height:250px;

}
.icone{
    width:100px;
}