
.footer{position: relative;bottom:0;width:100%;height:20vh;background-color:#ebebeb;display: flex;align-items: center;justify-content: center;flex-direction:column;gap:20px;}
.icone-footer{width:35px;cursor:pointer;transition:transform .35s;}
.icone-footer:hover{transform:scale(1.2);}
.div-1,.div-2,.div-3{display:flex;flex-direction: row;align-items: center;justify-content: center;width:100%;gap:20px;}
.link{color:#000000;text-decoration: none;transition:all .35s;font-weight:700;}
.link:hover{color:#0079be;}
.div-2{}
.div-3{}
/*
---------------------------------------------------------------------------
*/


