::-webkit-scrollbar {
    width:10px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #7c7c7c;
    border-radius:100vw;
    cursor:pointer;
}
::-webkit-scrollbar-thumb:hover{
    background:#424242;
}

body{
    background-color:white!important;
    padding-top:65px;
}
.index-primeira-parte{
    height:90vh;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position:relative;
}
#map{
    width:100%;
    height:100%;
}
.pesquisa{
    display: flex;
    position:relative;
}
.pesquisa > input[type=text]{
    transition:box-shadow 0.2s;
    box-shadow: 0 0 0 3px rgba(77, 104, 112, 0),0 0 0 4px rgba(255, 255, 255, 0);

    outline:#9B9B9B solid 1px;
    border:none;
    font-size:15px;
    width:250px;
    border-radius:5px;
    padding:10px 15px;
}
.pesquisa > input[type=text]:focus{
    box-shadow: 0 0 0 3px rgb(77, 104, 112),0 0 0 4px rgb(255, 255, 255);
}
.pesquisa > button{
    background:#ffffff;
    border:none;
    outline:none;
    font-size:24px;
    padding:0 10px;
    border-radius:50%;
    position:absolute;
    right:8px;
    bottom:5px;
    cursor: pointer;
}

.bem-vindo{
    width:100%;
    height:90vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../imagens/cidade.jpg);
    overflow:hidden;
}
.bem-vindo > h1{
    font-size: 150px;
    color:#fff;
}
.apresentacao-cidade-limpa{
    width:100%;
    height:60vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background:rgb(43, 78, 88);
}
.img-apresentacao{
    width:35%;
}
.txt-apresentacao{
    width:45%;
    height:40%;
    display:flex;
    justify-content:center;
    align-items:center;
    box-sizing: border-box;
}
.txt-apresentacao > span {
    color:rgb(255, 255, 255);
    display:flex;
    width:70%;
    flex-direction:column;
}
.txt-apresentacao > span > h1{font-size:40px;}
.txt-apresentacao > span > p{font-size:25px;}
/*------------------------------------------------------*/

@media (max-width:720px){
    .pesquisa > input[type=text]{
        font-size:12px;
        width:185px;
        border-radius:2px;
        padding:8px 10px;
    }
    .pesquisa > button{
        font-size:14px;
    }
}