::-webkit-scrollbar {
    width:10px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #7c7c7c;
    border-radius:100vw;
    cursor:pointer;
}
::-webkit-scrollbar-thumb:hover{
    background:#424242;
}
:root{
    --cor-legenda:#0db466;
}
html{
    overflow-x:hidden;
}
body{
    background-color:black!important;
    padding-top:65px;
}
.index-primeira-parte{
    height:90vh;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#map{
    width:100%;
    height:100%;
}
.bem-vindo{
    width:100%;
    height:90vh;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../imagens/bem-vindo.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    backdrop-filter: blur(8px);
    gap:5%;
}
.bem-vindo > h1{
    font-size: 100px;
    color:#fff;
    text-align: center;
}
.bem-vindo > img{
    width:800px;
}
.apresentacao-cidade-limpa{
    width:100%;
    height:60vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background:rgb(43, 78, 88);
}
.img-apresentacao{
    width:35%;
}
.txt-apresentacao{
    width:45%;
    height:40%;
    display:flex;
    justify-content:center;
    align-items:center;
    box-sizing: border-box;
}
.txt-apresentacao > span {
    color:rgb(255, 255, 255);
    display:flex;
    width:70%;
    flex-direction:column;
}
.txt-apresentacao > span > h1{font-size:40px;}
.txt-apresentacao > span > p{font-size:25px;}
.legendaPuxada{
    transform:translateX(0%)!important;
}
.barralegenda1,.barralegenda2{
    transition:all 0.5s;
    width:15px;
    height:3px;
    background-color:#fff;
    border-radius:5px;
}
.barralegenda1{
    transform:rotate(45deg) translateY(0px);
}
.barralegenda2{
    transform:rotate(-45deg) translateY(0px);
}
.barralegenda1.blAtivado{
    transform: rotate(45deg) translateY(5px);
    width:30px;
}
.barralegenda2.blAtivado{
    transform:rotate(-45deg) translateY(-6px);
    width:30px;
}
.modal-legenda{
    transition:transform 0.5s;
    display:flex;
    flex-direction:row-reverse;
    position:absolute;
    left:0;
    z-index:999;
    transform:translateX(-85%);
}
.puxa-legenda{
    color:#fff;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    cursor:pointer;
    background-color:var(--cor-legenda);
    width:50px;
    height:50px;
    border-radius: 0 100% 100% 0;
    gap:5px;
}
.legenda{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:10px;
    padding:10px;
    background-color: var(--cor-legenda);
}
.legenda > h1{
    color:#fff;
    letter-spacing:1px;
    font-size:30px;
}
.div-legenda{
    display:flex;
    flex-direction: row;
}
.div-legenda > img{
    width:30px;
}

#marcador-bandeira{
   width: 20px;
}
.div-legenda > p{
    color:#fff;
    font-size: 24px;
}
.map-nav{
    transition:all 0.5s;
    display:flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    top:0;
    width:100vw;
    height:65px;
    z-index:1001;
    background-color: var(--cor-navbar);

    opacity: 0;            /*MUDA NO SCROLL*/
    pointer-events: none;   /*MUDA NO SCROLL*/
}
.aparece-map-nav{
    opacity:1;
    pointer-events: all;
}
.ajuste-pesquisa{
    width:40%;
    display:flex;
    justify-content:end;

}
.pesquisa{
    display: flex;
    position:relative;
}
.pesquisa > input[type=text]{
    transition:box-shadow 0.2s;
    box-shadow: 0 0 0 3px rgba(77, 104, 112, 0),0 0 0 4px rgba(255, 255, 255, 0);

    outline:#9B9B9B solid 1px;
    border:none;
    font-size:15px;
    width:250px;
    border-radius:5px;
    padding:10px 15px;
}
.pesquisa > input[type=text]:focus{
    box-shadow: 0 0 0 3px rgb(77, 104, 112),0 0 0 4px rgb(255, 255, 255);
}
.pesquisa > button{
    background:#ffffff;
    border:none;
    outline:none;
    font-size:24px;
    padding:0 10px;
    border-radius:50%;
    position:absolute;
    right:8px;
    bottom:5px;
    cursor: pointer;
}
/*EFEITINHO DE SCROLL*/

.scrollFade {
    opacity: 1;
    pointer-events: all;
}
.scrollFade--hidden {
    transform:translateX(-100%);
    opacity: 0;
    pointer-events: none;
}
.scrollFade--visible {
    transform:translateX(0%);
    opacity: 1;
    pointer-events: all;
}
.scrollFade2--hidden {
    transform:translateX(100%);
    opacity: 0;
    pointer-events: none;
}
.scrollFade2--visible {
    transform:translateX(0%);
    opacity: 1;
    pointer-events: all;
}
.scrollFade2--animate {
    transition: all 0.5s ease-in-out;
}
.scrollFade--animate {
    transition: all 0.5s ease-in-out;
}

/*EFEITINHO DE SCROLL*/




/*------------------------------------------------------*/

@media (max-width:720px){
    .pesquisa > input[type=text]{
        font-size:12px;
        width:185px;
        border-radius:2px;
        padding:8px 10px;
    }
    .pesquisa > button{
        font-size:14px;
    }
    .bem-vindo{
        background-position:center ;
    }
    .bem-vindo > h1{
        font-size: 35px;
    }
    .bem-vindo > img{
        width:200px;
    }

    .apresentacao-cidade-limpa{
        flex-direction: column;
        height:75vh;
        justify-content:start;
        gap:35px;
    }
    .img-apresentacao{
        width:100%;
    }
    .txt-apresentacao{
        width:100%;
        height:40%;
        display:flex;
        justify-content:center;
        align-items:center;
        box-sizing: border-box;
    }
    .txt-apresentacao > span {
        width:80%;
    }
    .ajuste-pesquisa{
        width:100%;
        justify-content: center;
    }
    .txt-apresentacao > span > h1{font-size:35px;}
    .txt-apresentacao > span > p{font-size:20px;}
}