:root{
    --gradient:#EEEEEE;
    --cor-fonte-btn:#000000;
    --cor-btn:#eeeeee;
    --cor-btn-escuro:#c5c5c5;
}
p{
    margin-bottom:0 !important;
}
body{
    background-color:#ebe9e9!important;
    width:100vw;
    height:100vh;
    position:relative;
    overflow: hidden;
}
.conteudo{
    display: flex;
    position:absolute;
    width:80%;
    height:40vw;
    box-shadow:rgba(0,0,0,0.3) 0px 0px 5px 2px;
}


.carroussel{
    width:50%;
    height:100%;

}
.container-carroussel{
    position:relative;
}

#img1,#img2,#img3{
    background-color: white;
    position:absolute;
    transition:opacity 1.5s;
    width:100%;
    height:40vw;
}
#img1 > img, #img2 > img, #img3 > img{
    width:100%;
    height:75%;
}
.img-carroussel{
    display:flex;
    flex-direction: column;
}
.frase-carroussel{
    
    background-color:var(--cor-navbar);
    box-sizing: border-box;
    width:100%;
    height:25%;
    text-align: center;
    font-size:0.8vw;
    color:#ffffff;
    padding:0 25px;
}


.login{
    position: relative;
    z-index:15;
    font-size:18px;
    background:var(--gradient);
    width:50%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.logo-login{
    width:12vw;
    pointer-events: none;
}
.form-login{
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width:100%;
    height:100%;
    
}
.label{
    color:var(--cor-fonte-btn);
    font-size:1vw;
}
.alinhamento-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:150px;
}
.ajuste-btn-login{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:25px 0;
}
.btn-login{
    width:max-content;
    transition: background-color .2s;
    cursor:pointer;
    font-size:1.2vw;
    padding:10px 35px;
    outline:none;
    border:none;
    border-radius:20px;
    position:relative;
    top:15px;
    color:rgb(0, 52, 119);
    background-color: #35BDF2;
}
.btn-login:hover{
    color:white;
    background-color:#35bcf2d8;
}
.btn-cadastrar{
    width:max-content;
    transition: background-color .2s;
    cursor:pointer;
    font-size:1.2vw;
    padding:10px 35px;
    outline:none;
    border:none;
    border-radius:20px;
    color:rgb(0, 52, 119);
    background-color: #35BDF2;
}
.btn-cadastrar:hover{
    color:white;
    background-color:#35bcf2d8;
}
#login{
    margin-bottom:15px;
}
.pergunta{
    color:#ffffff;
    font-size:1.2vw;
}
.divisao-registrar{
    margin:25px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:22px;
}
.divisao-registrar::before{
    content:'';
    display:flex;
    width:150px;
    height:2px;
    border-radius:20px;
    background-color:#46464688;
}
.divisao-registrar::after{
    content:'';
    display:flex;
    width:150px;
    height:2px;
    border-radius:20px;
    background-color:#46464688;
}
/* -----------------------------------------------------CSS REGISTRAR----------------------------------------------------- */


.cadastro{
    background-size:cover;
    display:flex;
    align-items:center;
    width:100%;
    height:70%;
    flex-direction: column;
}
.alinhamento-cadastro{
    display:flex;
    flex-direction: column;
    width:100%;
    height:80%;
    padding-top:10px;
}
.ajuste-cor-fonte{
    color:var(--cor-fonte-btn);
}
.ajuste-alinhamento-cadastro{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:20px;
    height:100%;
}

input[type=file]{
    display:none;
}
.alinhamento-foto{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    gap:15px;
}
.envia-foto{
    transition:background-color .3s;
    transition:transform .3s;
    border:none;
    outline:none;
    border-radius:0;
    color:#000000;
    background-color: #35BDF2;
    cursor:pointer;
    padding:10px;
    width:max-content;
    font-size:0.8vw;
}

.envia-foto:hover{
    color:#FFFFFF;
    background-color: #35bcf2d8;
    transform: scale(1.03);
}
#nomeImagem{
    color:#ffffff;
    font-size:1vw;

}
#preview{
    width:3.5vw;
    height:3.5vw;
    border-radius:50%;
    overflow: hidden;
    outline:rgba(0,0,0,0.3) solid 3px;
}
.alinhamento-preview{
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    bottom:25px;
    gap:20px;
}
.inputs-estilizados{
    transition:all .35s;
    outline: none;
    border:none;
    padding:0 15px;
    padding-bottom:2px;
    color:var(--cor-fonte-btn);
    background-color:rgba(255,255,255,0.1);
    outline:rgba(255,255,255,0.1) thick solid;
    border-bottom: #03220d4f solid 3px;
    font-size:1vw;
}
.inputs-estilizados:focus{
    background-color:rgba(0,0,0,0.1);
    outline:rgba(0,0,0,0.1) thick solid;
}
.inputs-estilizados-cadastro{
    transition:all .35s;
    outline: none;
    border:none;
    padding:0 15px;
    padding-bottom:2px;
    color:var(--cor-fonte-btn);
    background-color:rgba(255,255,255,0.1);
    outline:rgba(255,255,255,0.1) thick solid;
    border-bottom: #03220d4f solid 3px;
    font-size:1vw;
}
.inputs-estilizados-cadastro:focus{
    background-color:rgba(0,0,0,0.1);
    outline:rgba(0,0,0,0.1) thick solid;
}
.alinhamento-inputs{
    position:relative;
    display:flex;
    flex-direction:column;
    margin-top:15px;
}
.div1,.div2,.div3{
    display:flex;
    flex-direction: column;
    gap:50px;
}
.div1{
    position:relative;
    top:50px;
    
}
.div2{
    gap:0!important;
}
.ajuste-botao{
    width:100%;
    display:flex;
    align-items: center;
    justify-content:center;
    position:relative;
    top:50px;
}
.btn-cadastrar-verde{
    width:max-content;
    border:none;
    outline:none;
    color:#064018;
    background-color:#7CDB3B;
    padding: 10px 25px;
    border-radius:50px;
    cursor:pointer;
    font-size:1.5vw;
}
.btn-cadastrar-verde:hover{
    color:#04200d;
    background-color:#559729;
}
.alinhamento-cep{
    position:relative;
    display:flex;
    flex-direction: column;
    margin-top:15px;
}
.seta-hover{
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;

    position:absolute;
    top:2vw;
    right:0;
    color:white;
    font-size:1.5vw;
    font-weight:700;
    cursor:pointer;
    width:30px;
    height:30px;
    
}
.barra1{
    width:10px;
    height:2px;
    background-color:var(--cor-fonte-btn);
    border-radius:50px;
    transform: translateY(-4px) rotate(45deg);
}
.barra2{
    width:10px;
    height:2px;
    background-color:var(--cor-fonte-btn);
    border-radius:50px;
    transform: rotate(-45deg);
}
.div-cep > label{
    color:var(--cor-fonte-btn);
}
.modal-cep{
    display:none;
    opacity:0;
    
    flex-direction:column ;
    gap:20px;
    z-index: 999;
    transition:opacity .25s;
    position:absolute;
    bottom:50px;
    right:0px;
    background-color: var(--cor-btn);
    border:var(--cor-btn-escuro) solid 3px;
    border-radius:10px;
    padding:15px;
}
.div-cep{
    display:flex;
    flex-direction: column;
}
.ajuste-uf{
    gap:25px;
    display: flex;
    flex-direction: row;
}
#uf{
    margin-top:25px;
    width:30px;
}
.div-cep > input[type=text],.ajuste-uf > input[type=text]{
    margin-top:6px;
    border:none;
    outline:none;
    font-size: 1.3vw;
    border-bottom: solid 3px var(--cor-btn-escuro);
    background-color:rgba(0,0,0,0.1);
    outline:rgba(0,0,0,0.1) thick solid;

}
.mostrar-senha-cadastro{
    content:url(../imagens/olho.png);
    position:absolute;
    bottom:3px;
    right:7px;
    width:1.5vw;
    height:1.5vw;
    cursor:pointer;
    filter:invert(0.5);
}
.mostrar-senha-cadastro.ativo{
    filter:invert(0);
}
.mostrar-senha-login{
    content:url(../imagens/olho.png);
    position:absolute;
    bottom:1px;
    right:10px;
    width:1.5vw;
    height:1.5vw;
    cursor:pointer;
    filter:invert(0.5);
}
.mostrar-senha-login.ativo{
    filter:invert(0);
}
.div-central{
    width:3px;
    height:70%;
    background-color:rgba(255,255,255,0.5);
    border-radius:10px;
    position:relative;
    top:10%;
}





/*--------------------------------------CSS DOS DOIS -------------------------------------------------------------*/

.div-login{
    display:flex;

    position: relative;
    font-size:1vw;
    width:100%;
    height:100%;
    flex-direction: column;
    align-items: center;
    gap:2vw;
}
/*---------------------------------- CSS DA NAVBAR ALERAR LOGIN/CADASTRO -----------------------------------------*/

.navbar-loginCadastro{
    background-color: transparent;
    width:100%;
    height:75px;
    display:flex;
    

}
.btn-escolher-alterar{
    background-color:var(--cor-btn-escuro);
    font-size:1vw;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    color:var(--cor-fonte-btn);
}
.btn-escolher-alterar:hover{
    background-color: #00000021;
}
.btn-escolher-alterar.escolhido{
    background-color:transparent;
}
.display-center{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100%;
    width:100%;
}
.login-e-cadastro{
    overflow: hidden;
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.movimentacao-login-e-cadastro{
    width:100%;
    transition:all 0.3s;
    display:-webkit-inline-box;
}
.div-d-separamento-200px{
    width:200px;
    height:10px;
}
@media only screen and (max-width:1000px){
    .btn-login{
        font-size:1.7vw;
    }
    .btn-cadastrar{
        font-size:1.7vw;
    }
    .div-login{
        gap:5vw;
    }
    .logo-login{
        width:20vw;
    }
    #preview{
        width: 8vw;
        height:8vw;
    }
    .envia-foto{
        font-size:1.3vw;
    }
    .btn-escolher-alterar{
        font-size:1.7vw;
    }
    .mostrar-senha-login{
        width:2.5vw;
        height:2.5vw;
    }
    .mostrar-senha-cadastro{
        width:2.5vw;
        height:2.5vw;
    }
    .navbar-loginCadastro{
        height:50px;
    }
    .conteudo{
        width:50%;
        height:50vw;
    }
    .carroussel{
        display:none;
    }
    .login{
        width:100%;
    }
    .label{
        font-size:1.5vw;
    }
    .inputs-estilizados{
        font-size:1.5vw;
    }
    .inputs-estilizados-cadastro{
        font-size:1.5vw;
    }
    .seta-hover{
        top:2vw;
    }
}