body{
    padding-top:90px;
    background-color:white!important;
    width:100vw;
    height:90vh;
    position:relative;
    overflow: hidden;
}
.conteudo{
    position:absolute;
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    height:100%;
}
.anuncio{
    background:url(../imagens/anuncio-login.jpg);
    background-size: cover;
    display:flex;
    align-items: end;
    justify-content: center;
    flex-direction: row;

    width:100%;
    height:100%;
}
.anuncio > h1{
    background:linear-gradient(to bottom, rgb(0, 207, 243) 50%,rgb(0, 255, 42) 50%);
    font-weight: 700;
    border-radius:8px;
    padding:5px;
    text-align: center;
    width:300px;
    color:rgb(255, 255, 255);
    font-size:35px;
    position:relative;
    bottom:150px;
}
.login{
    font-size:25px;
    background-color:#94F250;
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-login{
    color:#464646;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top:100px;

    width:350px;
    height:400px;
}
.form-login > h2{
    color:black;
    position:relative;
    bottom:75px;
}

.alinhamento-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:150px;
}
.alinhamento-form > input[type=text],.alinhamento-form > input[type=password]{
    display:flex;
    font-size:18px;
    padding:5px;
    outline:none;
    border:none;
    border-radius: 0;
    background:transparent;
    border-bottom:#464646 2px solid;
}
.alinhamento-form > input[type=submit]{
    transition: all .2s;
    cursor:pointer;
    font-size:20px;
    padding:10px;
    outline:none;
    border:none;
    border-radius:20px;
    position:relative;
    top:15px;
    color:rgb(0, 52, 119);
    background-color: #35BDF2;
}
.alinhamento-form > input[type=submit]:hover{
    color:white;
    background-color:#35bcf2d8;
}
