nav{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #7CDB3B;
    height:90px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
    width:100vw;
    position:absolute;
    top:0;
    z-index: 999;
}
.link-login{
    color:white;
    text-decoration:none;
    font-weight:700;
    font-size:25px;
}
.navbar-parte-1{
    width:100%;
    display: flex;
    justify-content:start;
    padding-left:70px;
}
.logo{
    transform: scale(1.35);
}
.navbar-parte-2{
    width:100%;
    display:flex;
    justify-content:center;
}
.navbar-parte-2 > a{
    transition:all .2s;
    width:100%;
    display:flex;
    align-items: center;
    justify-content:center;
    text-decoration:none;
    text-align: center;
    color:#097005;
    font-size:25px;
}
.navbar-parte-2 > a:hover{
    background-color: #ffffff36;
}
.navbar-parte-3{
    width:100%;
    display: flex;
    justify-content:end;
    padding-right:70px;
}
.foto-navbar{
    width:50px;
}
.seta{
    width:50px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
}
.navbar-logado{
    display:none;/* mudar para flex quando logado */

    cursor:pointer;
    gap:10px;
}
.linha-seta-1{
    transform: rotate(45deg) translate(6px);
    width:20px;
    height:4px;
    border-radius:2px;
    background-color:white;
}
.linha-seta-2{
    transform: rotate(-45deg) translate(-6px);
    width:20px;
    height:4px;
    border-radius:2px;
    background-color:white;
}
